.box {
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.b24
{
	background-image: url('images/thumbs/24.jpg');
}

.b23
{
	background-image: url('images/thumbs/23.jpg');
}

.b22
{
	background-image: url('images/thumbs/22.jpg');
}

.b21
{
	background-image: url('images/thumbs/21.jpg');
}

.b20
{
	background-image: url('images/thumbs/20.jpg');
}

.b19
{
	background-image: url('images/thumbs/19.jpg');
}

.b18
{
	background-image: url('images/thumbs/18.jpg');
}

.b17
{
	background-image: url('images/thumbs/17.jpg');
}

.b16
{
	background-image: url('images/thumbs/16.jpg');
}

.b15
{
	background-image: url('images/thumbs/15.jpg');
}

.b14
{
	background-image: url('images/thumbs/14.jpg');
}

.b13
{
	background-image: url('images/thumbs/13.jpg');
}

.b12
{
	background-image: url(images/thumbs/12.jpg);
}

.b11
{
	background-image: url('images/thumbs/11.jpg');
}

.b10
{
	background-image: url('images/thumbs/10.jpg');
}

.b9
{
	background-image: url('images/thumbs/9.jpg');
}

.b8
{
	background-image: url('images/thumbs/8.jpg');
}

.b7
{
	background-image: url('images/thumbs/7.jpg');
}

.b6
{
	background-image: url('images/thumbs/6.jpg');
}

.b5
{
	background-image: url('images/thumbs/5.jpg');
}

.b4
{
	background-image: url('images/thumbs/4.jpg');
}

.b3
{
	background-image: url('images/thumbs/3.jpg');
}

.b2
{
	background-image: url('images/thumbs/2.jpg');
}

.b1
{
	background-image: url('images/thumbs/1.jpg');
}
