.b24
{
	background: black;
}

.b23
{
	background: black;
}

.b22
{
	background: black;
}

.b21
{
	background: black;
}

.b20
{
	background: black;
}

.b19
{
	background: black;
}

.b18
{
	background: black;
}

.b17
{
	background: black;
}

.b16
{
	background: black;
}

.b15
{
	background: black;
}

.b14
{
	background: black;
}

.b13
{
	background: black;
}

.b12
{
	background: black;
}

.b11
{
	background: black;
}

.b10
{
	background: black;
}

.b9
{
	background: black;
}

.b8
{
	background: black;
}

.b7
{
	background: black;
}

.b6
{
	background: black;
}

.b5
{
	background: black;
}

.b4
{
	background: black;
}

.b3
{
	background: black;
}

.b2
{
	background: black;
}

.b1
{
	background: black;
}
